<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- <link href="styles.css" rel="stylesheet"> -->

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
  <div id="app" class="">
    <div class="mx-auto container">
      <photo-search :input="input" @searchfor-Picture='searchforPicture' ></photo-search>

      <div v-if="preview.isShowPreview">
        <photo-pre :preview="preview" ></photo-pre>
      </div>
     
      

      <div class="m-5">
        <ul class="grid grid-cols-2 gap-y-10 ml-10 lg:grid-cols-5 flex">         
          <li v-if="searchforPicture.length !==0" v-for="(photos, index) in searchforPicture">        
            <photo-list :photos="photos" @preview-pic="previewPic"></photo-list>
          </li>
          <il v-else>
            No photo
          </il>
        </ul>
      </div>
    
    </div>
    </div>




  </div>

  <!-- my main.js -->
  <script src="./main.js"></script>
  <script src="./component/photoPreview.js"></script>
  <script src="./component/photoSearch.js"></script>
  <script src="./component/photoList.js"></script>

  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>